*.a
*.a.*
*.exp
*.in
*.la
*.lo
*.o
*.o.*
*.py[co]
*.so
*.so.*
*.tar.gz
*~
.*.sw*
CMakeCache.txt
CMakeFiles/
Makefile
install_manifest.txt
root/
tags
warp_ann_check
warp_ann_learn
warp_ann_zparser
warp_trie_test
warp_zpack
cmake_install.cmake
build/*
bindings/go/main
